.insert-button {
    -fx-background-color: #e74c3c; /* Kırmızı (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #c0392b;     /* Çerçeve rengi (koyu kırmızı) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;   /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}

/* TableView Başlıklarının Arka Plan Rengi */
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #800000, #ff0000); /* Bordodan kırmızıya geçiş */
}


/* Başlık Metni Stili */
.table-view .column-header .label {
    -fx-text-fill: white; /* Metin rengini beyaz yap */
    -fx-font-weight: bold; /* Kalın yazı */
    -fx-alignment: center; /* Ortalanmış metin */
    -fx-line-height: 50px;
}


.infocard-2 {
    -fx-background-color: transparent; /* Arka plan rengi şeffaf */
    -fx-text-fill: white;              /* Yazı rengi beyaz */
    -fx-font-weight: bold;             /* Kalın yazı */
    -fx-border-color: #d35400;         /* Çerçeve rengi (koyu turuncu) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;        /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}

.infocard-1 {
    -fx-background-color: transparent; /* Arka plan rengi şeffaf */
    -fx-text-fill: white;              /* Yazı rengi beyaz */
    -fx-font-weight: bold;             /* Kalın yazı */
    -fx-border-color: #d35400;         /* Çerçeve rengi (koyu turuncu) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;        /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}



.insert-button-1 {
    -fx-background-color: #2ecc71; /* Yeşil (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #27ae60;     /* Çerçeve rengi (daha koyu yeşil) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;    /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}

.anchor-pane {
    -fx-border-color: maroon; /* Çerçeve rengi */
    -fx-border-width: 3;     /* Çerçeve kalınlığı */
    -fx-border-style: solid; /* Çerçeve çizgi tipi */
}

.movie-title {
    -fx-border-color: maroon; /* Çerçeve rengi */
    -fx-border-width: 1.5;     /* Çerçeve kalınlığı */
    -fx-border-style: solid; /* Çerçeve çizgi tipi */
}
.movie-date {
    -fx-border-color: maroon; /* Çerçeve rengi */
    -fx-border-width: 1.5;     /* Çerçeve kalınlığı */
    -fx-border-style: solid; /* Çerçeve çizgi tipi */
}
.movie-genre {
    -fx-border-color: maroon; /* Çerçeve rengi */
    -fx-border-width: 1.5;     /* Çerçeve kalınlığı */
    -fx-border-style: solid; /* Çerçeve çizgi tipi */
}


.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 15, 0, 0, 0); /* Başlangıçta gölge yok */
    -fx-scale-x: 1; /* Normal boyut */
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease; /* Yumuşak geçiş */
}

.image-view:hover {
    -fx-effect: dropshadow(gaussian, rgba(128, 0, 0, 0.7), 15, 0.2, 0, 0); /* Bordo gölge */
    -fx-scale-x: 1.1; /* Genişlik büyüt */
    -fx-scale-y: 1.1; /* Yükseklik büyüt */
}

.anchor-pane1 {
    -fx-border-color: maroon; /* Çerçeve rengi */
    -fx-border-width: 3;     /* Çerçeve kalınlığı */
    -fx-border-style: solid; /* Çerçeve çizgi tipi */
    -fx-transition: all 0.3s ease; /* Geçiş efekti */
}

.anchor-pane1:hover {
    -fx-scale-x: 1.1; /* Genişlik büyütme */
    -fx-scale-y: 1.1; /* Yükseklik büyütme */
}


.insert-button-2 {
    -fx-background-color: #3498db; /* Mavi (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #2980b9;     /* Çerçeve rengi (daha koyu mavi) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;    /* Köşe yumuşatma */
    -fx-border-radius: 5px;
} 
.insert-button-3 {
    -fx-background-color: #f1c40f; /* Sarı (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #f39c12;     /* Çerçeve rengi (daha koyu sarı) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;    /* Köşe yumuşatma */
    -fx-border-radius: 5px;
} 
.insert-button-4 {
    -fx-background-color: #9b59b6; /* Lila (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #8e44ad;     /* Çerçeve rengi (daha koyu lila) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;    /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}

.insert-button-2:hover,
.insert-button-3:hover,
.insert-button-4:hover {
    -fx-scale-x: 1.1; /* Genişlik büyütme */
    -fx-scale-y: 1.1; /* Yükseklik büyütme */
}

.text-field-search {
    -fx-prompt-text-fill: gray; /* Placeholder metin rengi */
    -fx-alignment: center; /* Metni yatay ve dikey olarak ortalar */
    -fx-padding: 5; /* İç kenar boşlukları */
    -fx-border-color: gray; /* Kenarlık rengi */
    -fx-border-width: 1; /* Kenarlık genişliği */
    -fx-border-radius: 5; /* Kenar yuvarlatma */
}



.insert-button-delete {
    -fx-background-color: #e42222; /* Yeşil (arka plan rengi) */
    -fx-text-fill: white;          /* Yazı rengi beyaz */
    -fx-font-weight: bold;         /* Kalın yazı */
    -fx-border-color: #e42222;     /* Çerçeve rengi (daha koyu yeşil) */
    -fx-border-width: 2px;
    -fx-background-radius: 5px;    /* Köşe yumuşatma */
    -fx-border-radius: 5px;
}